.container {
  display: grid;
  grid-template-areas: 
    'toolbar toolbar'
    'navbar content';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
}


.navbar {
  grid-area: navbar;
}

.toolbar {
  grid-area: toolbar;
}

.content {
  grid-area: content;
}

